
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="/visog-job-portal-ui/resources/css/master.css" media="screen" />

<link rel="stylesheet" type="text/css" href="resources/css/user.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<script src="resources/js/jquery-3.1.1.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>


<script type="text/javascript">

$(document).ready(function(e){
	$('.masters').click(function(){
		$(this).toggleClass('tap');
		
	});
	$('.transactions').click(function(){
		$(this).toggleClass('tap');
		
	});
	
});
</script>
<meta name="viewport" content="width=device-width, initial-scale:1, user-scalable=0"/>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="/visog-job-portal-ui/resources/js/specialization.js"></script>
<!-- 	<style rel="stylesheet" href ="css/master.css"></style> -->
	
<title>AngularJS $http Rest example</title>
</head>
<body>
<body>

	<div id="header">
		<div class="logo">
			<a href="#">Job<span>Portal</span></a>
		</div>

	</div>
	<a class="mobile" href="#">Menu</a>
	<div id="container">
		<div class="sidebar">
			<ul id="nav">
			 
			<li class="masters"><a href="#">Masters<span class="sub"></span></a>
				<ul>
				<li class="child"><a href="/visog-job-portal-ui/roles">Roles</a></li>
				<li class="child"><a href="/visog-job-portal-ui/gender">Gender</a></li>
				<li class="child"><a href="/visog-job-portal-ui/country">Country</a></li>
				<li class="child"><a href="/visog-job-portal-ui/state">State</a></li>
				<li class="child"><a href="/visog-job-portal-ui/city">City</a></li>
				<li class="child"><a href="/visog-job-portal-ui/addressType">Address Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/courses">Courses</a></li>
				<li class="child"><a href="/visog-job-portal-ui/specialization">Specialization</a></li>
				<li class="child"><a href="/visog-job-portal-ui/university">University</a></li>
				<li class="child"><a href="/visog-job-portal-ui/educationType">Education Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/languages">Languages </a></li>
				<li class="child"><a href="/visog-job-portal-ui/currency">Currency</a></li>
				<li class="child"><a href="/visog-job-portal-ui/industry">Industry</a></li>
				<li class="child"><a href="/visog-job-portal-ui/domains">Domains</a></li>
				<li class="child"><a href="/visog-job-portal-ui/jobRole">Job Role</a></li>
				<li class="child"><a href="/visog-job-portal-ui/status">Status</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employmentType">Employment Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employerType">Employer Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/fileType">File Type</a></li>
				
				</ul>
				</li>
				
				<li class="transactions"><a href="#">Transactions<span class="sub"></span></a>
				<ul>
				<li class="child"><a href="/visog-job-portal-ui/users">Users</a></li>
				<li class="child"><a href="/visog-job-portal-ui/address">Address</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employer">Employer</a></li>
				<li class="child"><a href="/visog-job-portal-ui/postJob">Post Job</a></li>
				<li class="child"><a href="/visog-job-portal-ui/postJodDomains">Post Job Domains</a></li>
				<li class="child"><a href="/visog-job-portal-ui/files">Files</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employerJobseeker">Employer Job Seeker</a></li>
				<li class="child"><a href="/visog-job-portal-ui/postJobseeker">PostJob Seeker</a></li>
				<li class="child"><a href="/visog-job-portal-ui/jobSeeker">Job Seeker</a></li>
				<li class="child"><a href="/visog-job-portal-ui/educationDetails">Education Details</a></li>
				<li class="child"><a href="/visog-job-portal-ui/languageKnown">Language Known</a></li>
				<li class="child"><a href="/visog-job-portal-ui/projectDetails">Project Details</a></li>
				<li class="child"><a href="/visog-job-portal-ui/experienceDetails">Experience Details</a></li>
				
				</ul>
				</li>
				<li><a href="/visog-job-portal-ui/reg">UsersRegistration</a></li>
				<li><a href="#">Login</a></li>


			</ul>

		</div>

<div class="content" ng-app="SpecilizationManagement" ng-controller="SpecilizationController">
         <h1>
           Specialization Master
        </h1> 
        <form ng-submit="submitSpecilization()">
            <table>
               
                <tr>
                    <th colspan="2">Add/Edit specialization</th>
                 </tr>
                <tr>
                    <td>Specialization Name</td>
                    <td><input type="text" ng-model=" specilizationForm.name" /></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><input type="text" ng-model="specilizationForm.description"  /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit" class="blue-button" /></td>
                </tr>
            </table>
        </form>
        <table>
            <tr>
              
                <th>Specialization</th>
                <th>Description</th>
                <th> </th>
               
            </tr>
 
            <tr ng-repeat="specilization in specilizations">
       
    <td> {{ specilization.name }}</td>
    <td >{{ specilization.description }}</td>  
                
                <td><a ng-click="editSpecilization(specilization)" class="blue-button">Edit</a> | <a ng-click="deleteSpecilization(specilization)" class="red-button">Delete</a></td>
            </tr>
 
        </table>
 
       </div>
       
       </div>
 
       
      
  </body>
</html>

</body>
</html>