
<html>
<head>

<!-- <link rel="stylesheet" type="text/css" href="/Spring4HelloWorld/resources/css/master.css" /> -->
<link rel="stylesheet" type="text/css" href="resources/css/user.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<script src="resources/js/jquery-3.1.1.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>


<script type="text/javascript">

$(document).ready(function(e){
	$('.masters').click(function(){
		$(this).toggleClass('tap');
		
	});
	$('.transactions').click(function(){
		$(this).toggleClass('tap');
		
	});
	
});
</script>
<meta name="viewport" content="width=device-width, initial-scale:1, user-scalable=0"/>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="/visog-job-portal-ui/resources/js/experienceDetails.js"></script>
<!-- <script>bbmb
	var app = angular.module("ExperienceDetailsManagement", []);
<commit2>
	//Controller Part
	app
			.controller(
					"ExperienceDetailsController",
					function($scope, $http) {

						$scope.experiencedetails = [];
						$scope.experiencedetailsForm = {
							// id : -1,
							user : "",
							companyName : "",
							employmentType : "",
							durationFrom : "",
							durationTo : "",
							designation : "",
							jobProfile : ""
						};

						// Now load the data from server
						_refreshExperienceDetailsData();

						// HTTP POST/PUT methods for add/edit experienceDetails
						// with the help of id, we are going to find out whether it
						// is put or post operation

						$scope.submiExperienceDetails = function() {

							var method = "";
							var url = "";
							// alert($scope.genderForm.id);
							if ($scope.countryForm.id == -1
									|| $scope.experiencedetailsForm.id == undefined) {
								// Id is absent in form data, it is create new experienceDetails
								// operation

								method = "POST";
								url = 'http://localhost:8080/visog-job-portal-api/transaction/experienceDetails/';
								$http
										.post(
												url,
												{
													"user" : $scope.experiencedetailsForm.user,
													"companyName" : $scope.experiencedetailsForm.companyName,
													"employmentType" : $scope.experiencedetailsForm.employmentType,
													"durationFrom" : $scope.experiencedetailsForm.durationFrom,
													"durationTo" : $scope.experiencedetailsForm.durationTo,
													"designation" : $scope.experiencedetailsForm.designation,
													"jobProfile" : $scope.experiencedetailsForm.jobProfile
												}).then(_success, _error);

							} else {

								// Id is present in form data, it is edit experienceDetails
								// operation
								id = $scope.experiencedetailsForm.id;
								method = "PUT";
								url = 'http://localhost:8080/visog-job-portal-api/transaction/experienceDetails/'
										+ id;
								$http
										.put(
												url,
												{
													"user" : $scope.experiencedetailsForm.user,
													"companyName" : $scope.experiencedetailsForm.companyName,
													"employmentType" : $scope.experiencedetailsForm.employmentType,
													"durationFrom" : $scope.experiencedetailsForm.durationFrom,
													"durationTo" : $scope.experiencedetailsForm.durationTo,
													"designation" : $scope.experiencedetailsForm.designation,
													"jobProfile" : $scope.experiencedetailsForm.jobProfile
												}).then(_success, _error);
								$scope.experiencedetailsForm.id = -1;
							}
							/*
							 * $http({ method : method, url : url, data :
							 * angular.toJson($scope.genderForm), headers : {
							 * 'Content-Type' : 'application/json' } }).then(
							 * _success, _error );
							 */
						};

						// HTTP DELETE- delete experienceDetails by Id
						$scope.deleteExperienceDetails = function(experiencedetails) {
							$http(
									{
										method : 'DELETE',
										url : 'http://localhost:8080/visog-job-portal-api/transaction/experienceDetails/'
												+ experienceDetails.id
									}).then(_success, _error);
						};

						// In case of edit, populate form fields and assign form.id
						// with experienceDetails id
						$scope.editExperienceDetails = function(experiencedetails) {

							$scope.experiencedetailsForm.user = experiencedetails.user;
							$scope.experiencedetailsForm.companyName = experiencedetails.companyName;
							$scope.experiencedetailsForm.employmentType = experiencedetails.employmentType;
							$scope.experiencedetailsForm.durationFrom = experiencedetails.durationFrom;
							$scope.experiencedetailsForm.durationTo = experiencedetails.durationTo;
							$scope.experiencedetailsForm.designation = experiencedetails.designation;
							$scope.experiencedetailsForm.jobProfile = experiencedetails.jobProfile;
							$scope.experiencedetailsForm.id =experiencedetails.id;
						};

						/* Private Methods */
						// HTTP GET- get all countries collection
						function _refreshExperienceDetailsData() {
							$http(
									{
										method : 'GET',
										url : 'http://localhost:8080/visog-job-portal-api/transaction/experienceDetails/'
									}).then(function successCallback(response) {
								// alert(response.data.data)
								$scope.countrys = response.data.data;
							}, function errorCallback(response) {
								console.log(response.statusText);
							});
						}	

						function _success(response) {

							_refreshExperienceDetailsData();
							_clearFormData()
						}

						function _error(response) {

							console.log(response.statusText);
						}

						// Clear the form
						function _clearFormData() {
							// $scope.genderForm.id = -1;
							$scope.experiencedetailsForm.user = "";
							$scope.experiencedetailsForm.companyName = "";
							$scope.experiencedetailsForm.employmentType = "";
							$scope.experiencedetailsForm.durationFrom = "";
							$scope.experiencedetailsForm.durationTo = "";
							$scope.experiencedetailsForm.designation = "";
							$scope.experiencedetailsForm.jobProfile = "";

						}
						;
					});
</script>  -->
<style>
.blue-button {
	background: #25A6E1;
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',
		endColorstr='#188BC0', GradientType=0);
	padding: 3px 5px;
	color: #fff;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 4px;
	border: 1px solid #1A87B9
}

.red-button {
	background: #CD5C5C;
	padding: 3px 5px;
	color: #fff;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 4px;
	border: 1px solid #CD5C5C
}

table {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	width: 50%;
}

caption {
	text-align: left;
	color: silver;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px;
}

th {
	background: SteelBlue;
	color: white;
}

tbody tr:nth-child(even) {
	background: WhiteSmoke;
}

tbody tr td:nth-child(2) {
	text-align: center;
}

tbody tr td:nth-child(3), tbody tr td:nth-child(4) {
	text-align: center;
	font-family: monospace;
}

tfoot {
	background: SeaGreen;
	color: white;
	text-align: right;
}

tfoot tr th:last-child {
	font-family: monospace;
}

td, th {
	border: 1px solid gray;
	width: 25%;
	text-align: left;
	padding: 5px 10px;
}
</style>


<title>AngularJS $http Rest example</title>
<head>
<body>
<div id="header">
		<div class="logo">
			<a href="#">Job<span>Portal</span></a>
		</div>

	</div>
	
	<div id="container">
		<div class="sidebar">
			<ul id="nav">

				<li class="masters"><a href="#">Masters<span class="sub"></span></a>
				<ul>
				<li class="child"><a href="/visog-job-portal-ui/roles">roles</a></li>
				<li class="child"><a href="/visog-job-portal-ui/gender">gender</a></li>
				<li class="child"><a href="/visog-job-portal-ui/country">country</a></li>
				<li class="child"><a href="/visog-job-portal-ui/state">state</a></li>
				<li class="child"><a href="/visog-job-portal-ui/city">city</a></li>
				<li class="child"><a href="/visog-job-portal-ui/addresstype">address Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/courses">courses</a></li>
				<li class="child"><a href="/visog-job-portal-ui/specialization">specialization</a></li>
				<li class="child"><a href="/visog-job-portal-ui/university">university</a></li>
				<li class="child"><a href="/visog-job-portal-ui/educationtype">education Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/languages">languages </a></li>
				<li class="child"><a href="/visog-job-portal-ui/currency">currency</a></li>
				<li class="child"><a href="/visog-job-portal-ui/industry">industry</a></li>
				<li class="child"><a href="/visog-job-portal-ui/domains">domains</a></li>
				<li class="child"><a href="/visog-job-portal-ui/jobrole">job Role</a></li>
				<li class="child"><a href="/visog-job-portal-ui/status">status</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employmenttype">employment Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employertype">employer Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/filetype">file Type</a></li>
				
				</ul>
				</li>
				
				<li class="transactions"><a href="#">Transactions<span class="sub"></span></a>
				<ul>
				<li class="child"><a href="/visog-job-portal-ui/users">users</a></li>
				<li class="child"><a href="/visog-job-portal-ui/address">address</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employer">employer</a></li>
				<li class="child"><a href="/visog-job-portal-ui/postjob">post Job</a></li>
				<li class="child"><a href="/visog-job-portal-ui/postjobdomains">post Job Domains</a></li>
				<li class="child"><a href="/visog-job-portal-ui/files">files</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employerjobseeker">employer Job Seeker</a></li>
				<li class="child"><a href="/visog-job-portal-ui/postjobseeker">post Job Seeker</a></li>
				<li class="child"><a href="/visog-job-portal-ui/jobseeker">job Seeker</a></li>
				<li class="child"><a href="/visog-job-portal-ui/educationdetails">education Details</a></li>
				<li class="child"><a href="/visog-job-portal-ui/languagesknown">languages Known</a></li>
				<li class="child"><a href="/visog-job-portal-ui/projectdetails">project Details</a></li>
				<li class="child"><a href="/visog-job-portal-ui/experiencedetails">experience Details</a></li>
				
				</ul>
				</li>
				<li><a href="/visog-job-portal-ui/reg">registration</a></li>
				<li><a href="/visog-job-portal-ui/user">login</a></li>
			</ul>
		</div>
<div class="content" ng-app="ExperienceDetailsManagement" ng-controller="ExperienceDetailsController">
	<h1>Experience Details Transaction</h1>
	<form ng-submit="submitFiles()">
		<table>

			<tr>
				<th colspan="2">Add/Edit ExperienceDetails</th>
			</tr>
			<tr>
				<td>User </td>
				<td><input type="text" ng-model="experienceDetailsForm.user" /></td>
			</tr>

			<tr>
				<td>Company Name </td>
				<td><input type="text" ng-model="experienceDetailsForm.companyName" /></td>
			</tr>
			
			<tr>
				<td>Employment Type </td>
				<td><input type="text" ng-model="experienceDetailsForm.employmentType" /></td>
			</tr>
			
			<tr>
				<td>Duration From </td>
				<td><input type="text" ng-model="filesForm.durationFrom" /></td>
			</tr>
			
			<tr>
				<td>Duration To </td>
				<td><input type="text" ng-model="experienceDetailsForm.durationTo" /></td>
			</tr>
			
			<tr>
				<td>Designation </td>
				<td><input type="text" ng-model="experienceDetailsForm.designation" /></td>
			</tr>
			
			<tr>
				<td>Job Profile </td>
				<td><input type="text" ng-model="experienceDetailsForm.jobProfile" /></td>
			</tr>
			
			<tr>
				<td colspan="2"><input type="submit" value="Submit"
					class="blue-button" /></td>
			</tr>
		</table>
	</form>
	<table>
		<tr>

			<th>user</th>
			<th>companyName</th>
			<th>employmentType</th>
			<th>durationFrom</th>
			<th>durationTo</th>
			<th>designation</th>
			<th>jobProfile</th>
			<th></th>

		</tr>

		<tr ng-repeat="experienceDetails in experienceDetails">

			<td>{{ experienceDetails.user }}</td>
			<td>{{ experienceDetails.companyName }}</td>
			<td>{{ experienceDetails.employmentType }}</td>
			<td>{{ experienceDetails.durationFrom }}</td>
			<td>{{ experienceDetails.durationTo }}</td>
			<td>{{ experienceDetails.designation }}</td>
			<td>{{ experienceDetails.jobProfile }}</td>

			<td><a ng-click="editFiles(files)" class="blue-button">Edit</a>
				| <a ng-click="deleteFiles(files)" class="red-button">Delete</a></td>
		</tr>

	</table>
</div>
</div>
	<!-- <script src="static/js/gender.js"></script> -->
	<!-- 	<style rel="stylesheet" href ="css/master.css"></style> -->
	<!-- 	<link rel="stylesheet" type="text/css" href="staic/css/master.css" media="screen" /> -->
</body>
</html>