
<html>
  <head>  
  <link rel="stylesheet" type="text/css" href="resources/css/user.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<script src="resources/js/jquery-3.1.1.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>


<script type="text/javascript">

$(document).ready(function(e){
	$('.masters').click(function(){
		$(this).toggleClass('tap');
		
	});
	
	$('.transactions').click(function(){
		$(this).toggleClass('tap');
		
	});
	
});
</script>
<meta name="viewport" content="width=device-width, initial-scale:1, user-scalable=0"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="/visog-job-portal-ui/resources/js/jobseeker.js"></script>
    <title>AngularJS $http Rest example</title>  
 <script type="text/javascript">
            var app = angular.module("JobSeekerManagement", []);
         
            //Controller Part
            app.controller("JobSeekerController", function($scope, $http) {
         
               
                $scope.jobseeker = [];
                $scope.jobseekerForm = {
                  //  id : -1,
                    resumeHeadline : "",
                    domain : "",
                    companyName : "",
                    user : "",
                    keySkills : "",
                    workExperienceYears : "",
                    workExperienceMonths : "",
                    hobbiesAndInterest : "",
                    jobRole : "",
                    otherJobRole : "",
                    industry : "",
                    profileSummary : "",
                    employmentType : ""
                };
         
                //Now load the data from server
                _refreshCoursesData();
         
                //HTTP POST/PUT methods for add/edit role 
                // with the help of id, we are going to find out whether it is put or post operation
                
                $scope.submitJobSeeker = function() {
         
                    var method = "";
                    var url = "";
                   // alert($scope.roleForm.id);
                    if ($scope.jobseekerForm.id == -1 || $scope.jobseekerForm.id == undefined) {
                        //Id is absent in form data, it is create new role operation
                        
                        method = "POST";
                        url = 'http://localhost:8080/visog-job-portal-api/transaction/jobseeker/';
                        $http.post(url, { 	"resumeHeadline": $scope.jobseekerForm.resumeHeadline,
                        					"domain": $scope.jobseekerForm.domain,
                        					"companyName": $scope.jobseekerForm.companyName,
                        					"user": $scope.jobseekerForm.user,
                        					"keySkills": $scope.jobseekerForm.keySkills,
                        					"workExperienceYears": $scope.jobseekerForm.workExperienceYears,
                        					"workExperienceMonths": $scope.jobseekerForm.workExperienceMonths,
                        					"hobbiesAndInterest": $scope.jobseekerForm.hobbiesAndInterest,
                        					"jobRole": $scope.jobseekerForm.jobRole,
                        					"otherJobRole": $scope.jobseekerForm.otherJobRole,
                        					"industry": $scope.jobseekerForm.industry,  
                        					"profileSummary": $scope.jobseekerForm.profileSummary, 
                        					"employmentType" : $scope.jobseekerForm.employmentType 
                        	
                        
                        }).then( _success, _error ); 
                        }
                    
                    } else {
                    	 
                        //Id is present in form data, it is edit role operation
                        id=$scopejobseekerForm.id;
                        method = "PUT";
                        url = 'http://localhost:8080/visog-job-portal-api/transaction/jobseeker/'+ id;
                      $http.put(url, { 
                    	  "resumeHeadline": $scope.jobseekerForm.resumeHeadline,
      					"domain": $scope.jobseekerForm.domain,
      					"companyName": $scope.jobseekerForm.companyName,
      					"user": $scope.jobseekerForm.user,
      					"keySkills": $scope.jobseekerForm.keySkills,
      					"workExperienceYears": $scope.jobseekerForm.workExperienceYears,
      					"workExperienceMonths": $scope.jobseekerForm.workExperienceMonths,
      					"hobbiesAndInterest": $scope.jobseekerForm.hobbiesAndInterest,
      					"jobRole": $scope.jobseekerForm.jobRole,
      					"otherJobRole": $scope.jobseekerForm.otherJobRole,
      					"industry": $scope.jobseekerForm.industry,   
      					"profileSummary": $scope.jobseekerForm.profileSummary, 
      					"employmentType" : $scope.jobseekerForm.employmentType 
                    	  
                      
                      }).then( _success, _error );
                      }
                      $scope.jobseekerForm.id = -1;
                    }
 /*         
                    $http({
                        method : method,
                        url : url,
                        data : angular.toJson($scope.roleForm),
                        headers : {
                            'Content-Type' : 'application/json'
                        }
                    }).then( _success, _error ); */
                };
         
                //HTTP DELETE- delete role by Id
                $scope.deleteJobSeeker = function(jobseeker) {
                    $http({
                        method : 'DELETE',
                        url : 'http://localhost:8080/visog-job-portal-api/transaction/jobseeker/' + jobseeker.id
                    }).then(_success, _error);
                };
 
             // In case of edit, populate form fields and assign form.id with role id
                $scope.editJobSeeker = function(jobseeker) {
                  
                    $scope.jobseekerForm.resumeHeadline = jobseeker.resumeHeadline;
                    $scope.jobseekerForm.domain = jobseeker.domain;
                    $scope.jobseekerForm.companyName = jobseeker.companyName;
                    $scope.jobseekerForm.user = jobseeker.user;
                    $scope.jobseekerForm.keySkills = jobseeker.keySkills;
                    $scope.jobseekerForm.workExperienceYears = jobseeker.workExperienceYears;
                    $scope.jobseekerForm.workExperienceMonths = jobseeker.workExperienceMonths;
                    $scope.jobseekerForm.hobbiesAndInterest = jobseeker.hobbiesAndInterest;
                    $scope.jobseekerForm.jobRole = jobseeker.jobRole;
                    $scope.jobseekerForm.otherJobRole = jobseeker.otherJobRole;
                    $scope.jobseekerForm.industry = jobseeker.industry;
                    $scope.jobseekerForm.profileSummary = jobseeker.profileSummary;
                    $scope.jobseekerForm.employmentType = jobseeker.employmentType;
                   
                    $scope.jobseekerForm.id = jobseeker.id;
                };
         
                /* Private Methods */
                //HTTP GET- get all countries collection
                function _refreshJobSeekerData() {
                    $http({
                        method : 'GET',
                        url : 'http://localhost:8080/visog-job-portal-api/transaction/jobseeker/'
                    }).then(function successCallback(response) {
                    	//alert(response.data.data)
                        $scope.jobseeker = response.data.data;
                    }, function errorCallback(response) {
                        console.log(response.statusText);
                    });
                }
         
                function _success(response) {
                	
                    _refreshJobSeekerData();
                    _clearFormData()
                }
         
                function _error(response) {
                	
                    console.log(response.statusText);
                }
         
                //Clear the form
                function _clearFormData() {
                  //  $scope.roleForm.id = -1;
                    $scope.jobseekerForm.resumeHeadline = "";
                    $scope.jobseekerForm.domain = "";
                    $scope.jobseekerForm.companyName = "";
                    $scope.jobseekerForm.user = "";
                    $scope.jobseekerForm.keySkills = "";
                    $scope.jobseekerForm.workExperienceYears = "";
                    $scope.jobseekerForm.workExperienceMonths = "";
                    $scope.jobseekerForm.hobbiesAndInterest = "";
                    $scope.jobseekerForm.jobRole = "";
                    $scope.jobseekerForm.otherJobRole = "";
                    $scope.jobseekerForm.industry = "";
                    $scope.jobseekerForm.profileSummary = "";
                    $scope.jobseekerForm.employmentType = "";
                
                };
            });
        </script>
        <style>
           
.blue-button{
	background: #25A6E1;
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:3px 5px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}     

.red-button{
	background: #CD5C5C;

	padding:3px 5px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:4px;
	border:1px solid #CD5C5C
}      

table {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
   width: 50%;
}

caption {
  text-align: left;
  color: silver;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

th {
  background: SteelBlue;
  color: white;
}


tbody tr:nth-child(even) {
  background: WhiteSmoke;
}

tbody tr td:nth-child(2) {
  text-align:center;
}

tbody tr td:nth-child(3),
tbody tr td:nth-child(4) {
  text-align: center;
  font-family: monospace;
}

tfoot {
  background: SeaGreen;
  color: white;
  text-align: right;
}

tfoot tr th:last-child {
  font-family: monospace;
}

            td,th{
                border: 1px solid gray;
                width: 25%;
                text-align: left;
                padding: 5px 10px;
            }
          
            
            
        </style>
    <head>
    <body >
    <div id="header">
		<div class="logo">
			<a href="#">Job<span>Portal</span></a>
		</div>

	</div>
	
	<div id="container">
		<div class="sidebar">
			<ul id="nav">

				<li class="masters"><a href="#">Masters<span class="sub"></span></a>
				<ul>
				<li class="child"><a href="/visog-job-portal-ui/roles">roles</a></li>
				<li class="child"><a href="/visog-job-portal-ui/gender">gender</a></li>
				<li class="child"><a href="/visog-job-portal-ui/country">country</a></li>
				<li class="child"><a href="/visog-job-portal-ui/state">state</a></li>
				<li class="child"><a href="/visog-job-portal-ui/city">city</a></li>
				<li class="child"><a href="/visog-job-portal-ui/addresstype">address Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/courses">courses</a></li>
				<li class="child"><a href="/visog-job-portal-ui/specialization">specialization</a></li>
				<li class="child"><a href="/visog-job-portal-ui/university">university</a></li>
				<li class="child"><a href="/visog-job-portal-ui/educationtype">education Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/languages">languages </a></li>
				<li class="child"><a href="/visog-job-portal-ui/currency">currency</a></li>
				<li class="child"><a href="/visog-job-portal-ui/industry">industry</a></li>
				<li class="child"><a href="/visog-job-portal-ui/domains">domains</a></li>
				<li class="child"><a href="/visog-job-portal-ui/jobrole">job Role</a></li>
				<li class="child"><a href="/visog-job-portal-ui/status">status</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employmenttype">employment Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employertype">employer Type</a></li>
				<li class="child"><a href="/visog-job-portal-ui/filetype">file Type</a></li>
				
				</ul>
				</li>
				
				<li class="transactions"><a href="#">Transactions<span class="sub"></span></a>
				<ul>
				<li class="child"><a href="/visog-job-portal-ui/users">users</a></li>
				<li class="child"><a href="/visog-job-portal-ui/address">address</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employer">employer</a></li>
				<li class="child"><a href="/visog-job-portal-ui/postjob">post Job</a></li>
				<li class="child"><a href="/visog-job-portal-ui/postjobdomains">post Job Domains</a></li>
				<li class="child"><a href="/visog-job-portal-ui/files">files</a></li>
				<li class="child"><a href="/visog-job-portal-ui/employerjobseeker">employer Job Seeker</a></li>
				<li class="child"><a href="/visog-job-portal-ui/postjobseeker">post Job Seeker</a></li>
				<li class="child"><a href="/visog-job-portal-ui/jobseeker">job Seeker</a></li>
				<li class="child"><a href="/visog-job-portal-ui/educationdetails">education Details</a></li>
				<li class="child"><a href="/visog-job-portal-ui/languagesknown">languages Known</a></li>
				<li class="child"><a href="/visog-job-portal-ui/projectdetails">project Details</a></li>
				<li class="child"><a href="/visog-job-portal-ui/experiencedetails">experience Details</a></li>
				
				</ul>
				</li>
				<li><a href="/visog-job-portal-ui/reg">registration</a></li>
				<li><a href="/visog-job-portal-ui/user">login</a></li>
			</ul>
		</div>
    <div class="content" ng-app="JobSeekerManagement" ng-controller="JobSeekerController">
         <h1>
           Job Seeker Transaction
        </h1> 
        <form ng-submit="submitJobSeeker()">
            <table>
               
                <tr>
                    <th colspan="2">Add/Edit JobSeeker</th>
                 </tr>
                <tr>
                    <td>Resume Headline </td>
                    <td><input type="text" ng-model="jobseekerForm.resumeHeadline" /></td>
                </tr>
                <tr>
                    <td>Domain</td>
                    <td><input type="text" ng-model="jobseekerForm.domain"  /></td>
                </tr>
                <tr>
                    <td>Company Name</td>
                    <td><input type="text" ng-model="jobseekerForm.companyName"  /></td>
                </tr>
                <tr>
                    <td>User</td>
                    <td><input type="text" ng-model="jobseekerForm.user"  /></td>
                </tr>
                <tr>
                    <td>Key Skills</td>
                    <td><input type="text" ng-model="jobseekerForm.keySkills"  /></td>
                </tr>
                <tr>
                    <td>Work Experience Years</td>
                    <td><input type="text" ng-model="jobseekerForm.workExperienceYears"  /></td>
                </tr>
                <tr>
                    <td>Work Experience Months</td>
                    <td><input type="text" ng-model="jobseekerForm.workExperienceMonths"  /></td>
                </tr>
                <tr>
                    <td>Hobbies And Interest</td>
                    <td><input type="text" ng-model="jobseekerForm.hobbiesAndInterest"  /></td>
                </tr>
                <tr>
                    <td>Job Role</td>
                    <td><input type="text" ng-model="jobseekerForm.jobRole"  /></td>
                </tr>
                <tr>
                    <td>Other Job Role</td>
                    <td><input type="text" ng-model="jobseekerForm.otherJobRole"  /></td>
                </tr>
                <tr>
                    <td>Industry</td>
                    <td><input type="text" ng-model="jobseekerForm.industry"  /></td>
                </tr>
                <tr>
                    <td>Profile Summary</td>
                    <td><input type="text" ng-model="jobseekerForm.profileSummary"  /></td>
                </tr>
                <tr>
                    <td>Employment Type</td>
                    <td><input type="text" ng-model="jobseekerForm.employmentType"  /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit" class="blue-button" /></td>
                </tr>
            </table>
        </form>
        <table>
            <tr>
              
                <th>resume Headline</th>
                <th>domain</th>
                <th>company Name</th>
                <th>user</th>
                <th>key Skills</th>
                <th>work Experience Years</th>
                <th>work Experience Months</th>
                <th>hobbies And Interest</th>
                <th>job Role</th>
                <th>other Job Role</th>
                <th>industry</th>
                <th>profile Summary</th>
                <th>employment Type</th>
                <th> </th>
               
            </tr>
 
            <tr ng-repeat="jobseeker in jobseeker">
       
    <td> {{ jobseeker.resumeHeadline }}</td>
    <td> {{ jobseeker.domain }}</td>
    <td> {{ jobseeker.companyName }}</td>
    <td> {{ jobseeker.user }}</td>
    <td> {{ jobseeker.keySkills }}</td>
    <td> {{ jobseeker.workExperienceYears }}</td>
    <td> {{ jobseeker.workExperienceMonths }}</td>
    <td> {{ jobseeker.hobbiesAndInterest }}</td>
    <td> {{ jobseeker.jobRole }}</td>
    <td> {{ jobseeker.otherJobRole }}</td>
    <td> {{ jobseeker.industry }}</td>
    <td> {{ jobseeker.profileSummary }}</td>
    <td >{{ jobseeker.employmentType }}</td>  
                
                <td><a ng-click="editJobSeeker(jobseeker)" class="blue-button">Edit</a> | <a ng-click="deleteJobSeeker(jobseeker)" class="red-button">Delete</a></td>
            </tr>
 
        </table> 
      </div>
      </div>
  </body>
</html>