
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title> Login Form</title>
  
  <link rel="stylesheet" type="text/css" href="/Spring4HelloWorld/resources/css/master.css" />
  
  
<link rel="stylesheet" type="text/css" href="/visog-job-portal-ui/resources/css/Loginstyle.css">

  

  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
  <script >
/* $('select[name=dropdown]').change(function() {
    $('#result').html($(this).val());
}); */

var app = angular.module("myApp", ["ngStorage"]);
//Controller Part

app
		.controller(
				"myCtrl",
				
				function($scope, $http, $sessionStorage) {
				
					
					 $scope.submitLogin = function() {
			        	var method = "";
						var url = "";
						 var headers = "";
						

						var reqBody = "";
				//		alert('hi');
						if ($scope.Login.id == -1
								|| $scope.Login.id == undefined) {
							//Id is absent in form data, it is create new file operation
						//$http.defaults.headers.common['Auth-Token'] = 'token';//
							method = "POST";
							url = 'http://localhost:8080/visog-job-portal-api/Login/details';
							// headers= {'Access-Control-Expose-Headers': 'true','userid': '08d344ed-61c6-4b04-8638-76f5eaa60f5d'};
							 var config = {headers:  { 
							        'Accept': 'application/json;odata=verbose',
							        'X-User-Id': 'visog header'
							    }
							};

							 reqBody = {
										
										
								      "email": $scope.Login.username,
								      "password": $scope.Login.password
								};
							// $http.defaults.headers.post["userid"] = "application/x-www-form-urlencoded;charset=utf-8";
						//	 $config.headers['userid'] = "hhhhhh";
						 
							 $http
									.post(
											url,reqBody,config
											).then(function successCallback(response) {
											
												if(response.data.statusCode==200)
													{
												sessionStorage.setItem('user', JSON.stringify(response.data.data));
												var obj = JSON.parse(sessionStorage.getItem('user')); 
												//alert(obj.id+":::: OBJ");//
												$sessionStorage.SessionUser = response.data.data.id;
												
												_clearFormData();
													}
												alert(response.data.message);
												_clearFormData();
											}, function errorCallback(response) {
												alert(response.data.message);
	  											//console.log(response.statusText);
											});
							//alert(url);
							
							function _clearFormData()
							{
								$scope.Login.id="-1";
								$scope.Login.username="";
							    $scope.Login.password="";
							}

						} 
					};
				
					
					
					
				});
				
				
				
				
				
				
				</script>
  
  
</head>

<body  ng-app="myApp" ng-controller="myCtrl">
    <div class="wrapper">

     <form class="form-signin" ng-submit="submitLogin()" id="Login" ><div id='result'></div>    
      <h2 class="form-signin-heading">Please login</h2>
       <input type="hidden" class="form-control" name="id" value="-1" ng-model="Login.id" />      
      
      <input type="text" class="form-control" name="username" placeholder="Email Address *" required  ng-model="Login.username" />
      <input type="password" class="form-control" name="password" placeholder="Password *" required  ng-model="Login.password" />      
      <!-- <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label> -->
      <button class="btn btn-lg btn-primary btn-block" value="Submit" type="submit">Login</button>  
      
   
    </form>
  </div>
  
  
</body>
</html>

