<html>
  <head>  
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
  <script src="/visog-job-portal-ui/resources/js/.js"></script>
    
    <title>AngularJS $http Rest example</title>  
 <script type="text/javascript">
            var app = angular.module("ProjectDetailsManagement", []);
         
            //Controller Part
            app.controller("ProjectDetailsController", function($scope, $http) {
         
               
                $scope.projectdetailsForm= [];
                $scope.projectdetailsForm = {
                  //  id : -1,
                    userid : "",
                    jobresponsibilities : "",
                    projectdetails:"",
                    projecttitle:"",
                    employmenttypeid:"",
                    clientname:"",
                    durationfrom:"",
                    durationto:"",
                    teamsize:"",
                    technologiesused:"",
                    
                };
         
                //Now load the data from server
                _refreshProjectDetailsData();
         
                //HTTP POST/PUT methods for add/edit role 
                // with the help of id, we are going to find out whether it is put or post operation
                
                $scope.submitProjectDetails = function() {
         
                    var method = "";
                    var url = "";
                   // alert($scope.roleForm.id);
                    if ($scope.projectdetailsForm.id == -1 || $scope.projectdetailsForm.id == undefined) {
                        //Id is absent in form data, it is create new role operation
                        
                        method = "POST";
                        url = 'http://localhost:8080/visog-job-portal-api/master/projectdetails/';
                        $http.post(url, { "userid": $scope.projectdetailsForm.userid, "jobresponsibilities" : $scope.projectdetailsForm.jobresponsibilities, 
                        	"employmenttypeid" : $scope.projectdetailsForm.employmenttypeid, "projectdetails" : $scope.projectdetailsForm.projectdetails, 
                        	"projecttitle" : $scope.projectdetailsForm.projecttitle, "clientname" : $scope.projectdetailsForm.clientname,
                        	"durationfrom" : $scope.projectdetailsForm.durationfrom, "durationto" : $scope.projectdetailsForm.durationto,
                        	"teamsize" : $scope.projectdetailsForm.teamsize, "technologiesused" : $scope.projectdetailsForm.technologiesused }).then( _success, _error ); 
                        }
                    
                    } else {
                    	 
                        //Id is present in form data, it is edit role operation
                        id=$scope.projectdetailsForm.id;
                        method = "PUT";
                        url = 'http://localhost:8080/visog-job-portal-api/master/projectdetails/'+ id;
                      $http.put(url, { "userid": $scope.projectdetailsForm.userid, "jobresponsibilities" : $scope.projectdetailsForm.jobresponsibilities 
                    		"employmenttypeid" : $scope.projectdetailsForm.employmenttypeid, "projectdetails" : $scope.projectdetailsForm.projectdetails, 
                        	"projecttitle" : $scope.projectdetailsForm.projecttitle, "clientname" : $scope.projectdetailsForm.clientname,
                        	"durationfrom" : $scope.projectdetailsForm.durationfrom, "durationto" : $scope.projectdetailsForm.durationto,
                        	"teamsize" : $scope.projectdetailsForm.teamsize, "technologiesused" : $scope.projectdetailsForm.technologiesused}).then( _success, _error );
                      }
                      $scope.projectdetailsForm.id = -1;
                    }
 /*         
                    $http({
                        method : method,
                        url : url,
                        data : angular.toJson($scope.roleForm),
                        headers : {
                            'Content-Type' : 'application/json'
                        }
                    }).then( _success, _error ); */
                };
         
                //HTTP DELETE- delete role by Id
                $scope.deleteprojectdetails = function(projectdetails) {
                    $http({
                        method : 'DELETE',
                        url : 'http://localhost:8080/visog-job-portal-api/master/project_Details/' + projectdetails.id
                    }).then(_success, _error);
                };
 
             // In case of edit, populate form fields and assign form.id with role id
                $scope.editProjectDetails = function(projectdetails) {
                    $scope.projectdetailsForm.userid = projectdetails.userid;
                    $scope.projectdetailsForm.jobresponsibilities = projectdetails.jobresponsibilities;
                    $scope.projectdetailsForm.id = projectdetails.id;
                    $scope.projectdetailsForm.projectdetails = projectdetails.projectdetails;
                    $scope.projectdetailsForm.projecttitle = projectdetails.projecttitle;
                    $scope.projectdetailsForm.employmenttypeid = projectdetails.employmenttypeid;
                    $scope.projectdetailsForm.clentname = projectdetails.clientname;
                    $scope.projectdetailsForm.durationfrom = projectdetails.durationfrom;
                    $scope.projectdetailsForm.durationto = projectdetails.durationto;
                    $scope.projectdetailsForm.teamsize = projectdetails.teamsize;
                    $scope.projectdetailsForm.technologiesused = projectdetails.technologiesused;
                };
         
                /* Private Methods */
                //HTTP GET- get all projectdetails collection
                function _refreshProjectDetailsData() {
                    $http({
                        method : 'GET',
                        url : 'http://localhost:8080/visog-job-portal-api/master/projectdetails/'
                    }).then(function successCallback(response) {
                    	//alert(response.data.data)
                        $scope.projectdetails = response.data.data;
                    }, function errorCallback(response) {
                        console.log(response.statusText);
                    });
                }
         
                function _success(response) {
                	
                    _refreshProjectDetailsData();
                    _clearFormData()
                }
         
                function _error(response) {
                	
                    console.log(response.statusText);
                }
         
                //Clear the form
                function _clearFormData() {
                  //  $scope.roleForm.id = -1;
                    $scope.projectdetailsForm.userid = "";
                    $scope.projectdetailsForm.jobresponsibilities = "";
                    $scope.projectdetailsForm.projectdetails = "";
                    $scope.projectdetailsForm.projecttitle = "";
                    $scope.projectdetailsForm.employmenttypeid = "";
                    $scope.projectdetailsForm.clentname = "";
                    $scope.projectdetailsForm.durationfrom = "";
                    $scope.projectdetailsForm.durationto = "";
                    $scope.projectdetailsForm.teamsize = "";
                    $scope.projectdetailsForm.technologiesused = "";
                
                };
            });
        </script>
        <style>
           
.blue-button{
	background: #25A6E1;
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:3px 5px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}     

.red-button{
	background: #CD5C5C;

	padding:3px 5px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:4px;
	border:1px solid #CD5C5C
}      

table {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
   width: 50%;
}

caption {
  text-align: left;
  color: silver;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

th {
  background: SteelBlue;
  color: white;
}


tbody tr:nth-child(even) {
  background: WhiteSmoke;
}

tbody tr td:nth-child(2) {
  text-align:center;
}

tbody tr td:nth-child(3),
tbody tr td:nth-child(4) {
  text-align: center;
  font-family: monospace;
}

tfoot {
  background: SeaGreen;
  color: white;
  text-align: right;
}

tfoot tr th:last-child {
  font-family: monospace;
}

            td,th{
                border: 1px solid gray;
                width: 25%;
                text-align: left;
                padding: 5px 10px;
            }
          
            
            
        </style>
    <head>
    <body ng-app="ProjectDetailsManagement" ng-controller="ProjectDetailsController">
         <h1>
           Employer Type Master
        </h1> 
        <form ng-submit="submitProjectDetails()">
            <table>
               
                <tr>
                    <th colspan="2">Add/Edit Project Details</th>
                 </tr>
                 <tr>
                    <td> User ID</td>
                    <td><input type="text" ng-model="projectdetailsForm.userid" /></td>
                </tr>
                <tr>
                    <td> Job Responsibilities</td>
                    <td><input type="text" ng-model="projectdetailsForm.userid" /></td>
                </tr>
                <tr>
                    <td>Project Details</td>
                    <td><input type="text" ng-model="projectdetailsForm.jobresponsibilities"  /></td>
                </tr>
                <tr>
                    <td> Project Title</td>
                    <td><input type="text" ng-model="projectdetailsForm.userid" /></td>
                </tr>
                <tr>
                    <td> Employment Type ID</td>
                    <td><input type="text" ng-model="projectdetailsForm.userid" /></td>
                </tr>
                <tr>
                    <td> Client Name</td>
                    <td><input type="text" ng-model="projectdetailsForm.userid" /></td>
                </tr>
                <tr>
                    <td> Duration From</td>
                    <td><input type="text" ng-model="projectdetailsForm.userid" /></td>
                </tr>
                <tr>
                    <td> Duration To</td>
                    <td><input type="text" ng-model="projectdetailsForm.userid" /></td>
                </tr>
                <tr>
                    <td> Team Size</td>
                    <td><input type="text" ng-model="projectdetailsForm.userid" /></td>
                </tr>
                <tr>
                    <td> Technologies Used</td>
                    <td><input type="text" ng-model="projectdetailsForm.userid" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit" class="blue-button" /></td>
                </tr>
            </table>
        </form>
        <table>
            <tr>
              
                <th>User ID</th>
                <th>Job Resposibilities</th>
                <th>Project Details</th>
                <th>Project Title</th>
                <th>Employment Type ID</th>
                <th>Client Name</th>
                <th>Duration From</th>
                <th>Duration To</th>
                <th>Team Size </th>
                <th>technologies Used</th>
                
            </tr>
 
            <tr ng-repeat="projectdetails in projectdetails">
       
    <td> {{ projectdetails.userid }}</td>
    <td >{{ projectdetails.jobresponsibilities }}</td> 
    <td >{{ projectdetails.projectdetails }}</td>
     <td >{{ projectdetails.projecttitle }}</td>
    <td >{{ projectdetails.employmenttypeid }}</td>
    <td >{{ projectdetails.clientname }}</td>
    <td >{{ projectdetails.durationfrom }}</td>
    <td >{{ projectdetails.durationto }}</td>
    <td >{{ projectdetails.teamsize }}</td>
    <td >{{ projectdetails.technologiesused }}</td>
     
                
                <td><a ng-click="editProjectDetails(projectdetails)" class="blue-button">Edit</a> | <a ng-click="deleteProjectDetails(projectdetails)" class="red-button">Delete</a></td>
            </tr>
 
        </table> 
      
  </body>
</html>